<div class="work">
    <ol class="experiences">
        <li>
            <div class="row hoverable rounded collapsible">
                <div class="col-sm-3"><img class="logo" src="/assets/img/Tesla_logo.png"></div>
                <div class="col-sm-4"><h2 style="margin-top: 20%; margin-left: 0%">Tesla Autopilot</h2></div>
                <div class="col-sm-1 align-right"><img class="icon" src="/assets/img/expand_button.png"></div>
            </div>
            <div class="content2" display="none">
                Quite interesting to work on, though I couldn't talk too much about it.
                <img src="/assets/img/wiseau.gif">
            </div>
        </li>
        <li>
            <div class="row hoverable rounded collapsible">
                <div class="col-sm-3"><img class="logo" src="/assets/img/Facebook-logo.png"></div>
                <div class="col-sm-3"><h2>Facebook</h2></div>
                <div class="col-sm-1 align-right"><img class="icon" src="/assets/img/expand_button.png"></div>
            </div>
            <div class="content2" display="none">
                By far the most comfy job I've had. Free lunches at 15 different canteens, bi-weekly chiropractor treatment, unlimited ergonomic keyboards and <a href="https://foursquare.com/v/facebook-mpk-29/5ade50751ffed7260e208396?openPhotoId=62b240e03e8e927a2416f98a">Herman Miller Aerons</a>. They even had an ice-cream bar in office. True definition of a 9-5 job, pinnacle of The American Dream.
            </div>
        </li>
        <li>
            <div class="row hoverable rounded collapsible">
                <div class="col-sm-3"><img class="logo" src="/assets/img/tencent-logo.png"></div>
                <div class="col-sm-3"><h2>Tencent</h2></div>
                <div class="col-sm-1 align-right"><img class="icon" src="/assets/img/expand_button.png"></div>
            </div>
            <div class="content2" display="none">
                Encoding human speech at 2kb/s bitrate to let you have meetings in an underground parking structure/elevator. Mingled a bunch of GAN(Generative Adversarial Networks) and signal compression stuff made in Bell Labs from the 80s.
                I forgot to save a recording when I left the job, this is something I managed to produce halfway through the internship.<br>
                <audio controls src="/assets/audio/CN_F1_gan.wav"></audio> 
            </div>
        </li>    
        <li>
            <div class="row hoverable rounded collapsible">
                <div class="col-sm-3"><img class="logo" src="/assets/img/MIT-logo.png"></div>
                <div class="col-sm-3"><h2>MIT</h2></div>
                <div class="col-sm-1 align-right"><img class="icon" src="/assets/img/expand_button.png"></div>
            </div>
            <div class="content2" display="none">
                In 2019 when I was a sophomore, I was really intrigued by neural networks(not the ones you train, I'm talking about the ones in the human brain) and the PDE(partial differential equation) that governs it, so I read <a href="http://jontalle.web.engr.illinois.edu/Public/Scott-Neuroscience.02.pdf">this book</a>. I wanted to do research on it, so I was planning on going to go to MIT's <a href="https://mcgovern.mit.edu/">McGovern Institue</a> to do some research in Summer 2020. However, Covid hit, and MIT completely stopped hiring staff, so I couldn't go there in person. I winded up doing some part-time remote research. I just stumbled upon the old code I wrote and decided to <a href="https://github.com/JunzheJosephZhu/metalearning_pytorch.git">open source it</a>. Maybe I'd be a neuroscience PhD by now if I was able to go there in person, who knows?
            </div>
        </li>
        <li>
            <div class="row hoverable rounded collapsible">
                <div class="col-sm-3"><img class="logo" style="margin-top: 30px; margin-bottom: 30px;" src="/assets/img/sensetime-logo.png"></div>
                <div class="col-sm-3"><h2>Sensetime</h2></div>
                <div class="col-sm-1 align-right"><img class="icon" src="/assets/img/expand_button.png"></div>
            </div>
            <div class="content2" display="none">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/HKiaQ_Qgk9s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </li>    
        <li>
            <div class="row hoverable rounded collapsible">
                <div class="col-sm-3"><img class="logo" src="/assets/img/capital-one.png"></div>
                <div class="col-sm-3"><h2>Capital One</h2></div>
                <div class="col-sm-1 align-right"><img class="icon" src="/assets/img/expand_button.png"></div>
            </div>
            <div class="content2" display="none">hello my name is bobby brown im the cutest boy in town</div>
        </li>    
        <li>
            <div class="row hoverable rounded collapsible">
                <div class="col-sm-3"><img class="logo" style="margin-top: 20px; margin-bottom: 20px;" src="/assets/img/ijet.jpg"></div>
                <div class="col-sm-3"><h2>i-jet lab</h2></div>
                <div class="col-sm-1 align-right"><img class="icon" src="/assets/img/expand_button.png"></div>
            </div>
            <div class="content2" display="none">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/o-254pc2SDU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/HKiaQ_Qgk9s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </li>    
    </ol>


</div>