<div class="work">
    <ol class="experiences">
        <!-- <li>
            <div class="row hoverable rounded collapsible" style="margin-top: 2rem">
                <div class="col-sm-3"><img class="logo preview" src="/assets/img/Tesla_logo.png"></div>
                <div class="col-sm-4"><h2 style="margin-top: 20%;">Tesla Autopilot</h2></div>
                <div class="col-sm-1 align-right"><img class="icon" src="/assets/img/expand_button.png"></div>
            </div>
            <div class="content2" display="none">
                Worked on lane data processing using probabilistic graphs. Basically there was a map of roads and a map of lanes from different vendors(in real life, a road has multiple lanes in it, in one or two directions, and they merged onto each other in many different ways), and they had somewhat mismatching coordinates and pretty different topoligies, so my job was to match those two graphs together
                as closely as possible to provide training data for downstream neural networks.
            </div>
        </li> -->
        <li>
            <div class="row hoverable rounded collapsible">
                <div class="col-sm-3"><img class="logo" src="/assets/img/Facebook-logo.png"></div>
                <div class="col-sm-3"><h2>Facebook</h2></div>
                <div class="col-sm-1 align-right"><img class="icon" src="/assets/img/expand_button.png"></div>
            </div>
            <div class="content2" display="none">
                I was working at Reality Lab's AI team. My job was to write <b>a distillation frameworks for activity detection models</b> running on AR glasses. Basically, the concept is that inside Facebook, we have the data & compute to train huge self-supervised "foundation models"(like VLP transformer, etc) using video-language-audio contrastive training and such such, but those models are too big to be deployed on the AR glasses. On the other hand, the "on-glass" model are small video processing neural networks(like MViT, X3D, etc), but those have lower accuracy if trained normally with supervised learning. My job was to write a framework where we can extract features & soft probability predictions from the big models, and train the smaller models using those. This is a huge performance booster, I was able to boost the mAP on a 100+ category video classification model from 0.32 to 0.49. 
            </div>
        </li>
        <li>
            <div class="row hoverable rounded collapsible">
                <div class="col-sm-3"><img class="logo" src="/assets/img/tencent-logo.png"></div>
                <div class="col-sm-3"><h2>Tencent</h2></div>
                <div class="col-sm-1 align-right"><img class="icon" src="/assets/img/expand_button.png"></div>
            </div>
            <div class="content2" display="none">
                Encoding human speech at 2kb/s bitrate to let you have meetings in an underground parking structure/elevator. Mingled a bunch of GAN(Generative Adversarial Networks) and signal compression stuff made in Bell Labs from the 80s.
                I forgot to save a recording when I left the job, this is something I managed to produce halfway through the internship.<br>
                <audio controls src="/assets/audio/CN_F1_gan.wav"></audio> 
            </div>
        </li>    
        <li>
            <div class="row hoverable rounded collapsible">
                <div class="col-sm-3"><img class="logo" src="/assets/img/MIT-logo.png"></div>
                <div class="col-sm-3"><h2>MIT</h2></div>
                <div class="col-sm-1 align-right"><img class="icon" src="/assets/img/expand_button.png"></div>
            </div>
            <div class="content2" display="none">
                In 2019 when I was a sophomore, I was really intrigued by neural networks(not the ones you train, I'm talking about the ones in the human brain) and the PDE(partial differential equation) that governs it, so I read <a href="http://jontalle.web.engr.illinois.edu/Public/Scott-Neuroscience.02.pdf">this book</a>. I wanted to do research on it, so I was planning on going to go to MIT's <a href="https://mcgovern.mit.edu/">McGovern Institue</a> to do some research in Summer 2020. However, Covid hit, and MIT completely stopped hiring staff, so I couldn't go there in person. I winded up doing some part-time remote research. This was the <a href="https://github.com/JunzheJosephZhu/metalearning_pytorch.git">code</a>. 
                <!-- Maybe I'd be a neuroscience PhD by now if I was able to go there in person, who knows? -->
            </div>
        </li>
        <li>
            <div class="row hoverable rounded collapsible">
                <div class="col-sm-3"><img class="logo" style="margin-top: 30px; margin-bottom: 30px;" src="/assets/img/sensetime-logo.png"></div>
                <div class="col-sm-3"><h2>Sensetime</h2></div>
                <div class="col-sm-1 align-right"><img class="icon" src="/assets/img/expand_button.png"></div>
            </div>
            <div class="content2" display="none">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/HKiaQ_Qgk9s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </li>    
        <li>
            <div class="row hoverable rounded collapsible">
                <div class="col-sm-3"><img class="logo" src="/assets/img/capital-one.png"></div>
                <div class="col-sm-3"><h2>Capital One</h2></div>
                <div class="col-sm-1 align-right"><img class="icon" src="/assets/img/expand_button.png"></div>
            </div>
            <div class="content2" display="none">Did some NLP stuff, like sentiment analysis, in the anti-money-laundering department</div>
        </li>    
        <li>
            <div class="row hoverable rounded collapsible">
                <div class="col-sm-3"><img class="logo" style="margin-top: 20px; margin-bottom: 20px;" src="/assets/img/ijet.jpg"></div>
                <div class="col-sm-3"><h2>i-jet Lab</h2></div>
                <div class="col-sm-1 align-right"><img class="icon" src="/assets/img/expand_button.png"></div>
            </div>
            <div class="content2" display="none">
                <!-- Brunswick was my first job in America. I was getting paid $16/hour and at the time that was big money to me. I also for the first time got to work as an "engineer".  -->
                I was learning things like object detection, semantic segmentation, path planning. I got the chance to work on a lot of cool projects. For one here, I am teaching a boat how to dock itself:<br>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/o-254pc2SDU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe><br>
                I also made <a href="https://youtube.com/shorts/082UIG4ZXog?feature=share">an imitation learning proof-of-concept with an omnidirectional robot for docking.</a><br>
                I took care of a variety of other projects, like doing NLP stuff on 600k patents, write the trajectory for a drone to take videos, classifying satillite images to analyze our users, etc.
            </div>
        </li>    
    </ol>


</div>